@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

*, button, textarea, input {
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
}

.group input::-webkit-inner-spin-button,
.group input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

li{
    list-style: none;
}

.group input[type=number]{
    width: 2px;
   -moz-appearance: textfield; 
}

.group{
    animation-name: fadeOnAddGroup;
    animation-duration: 0.8s;
}

.sequence{
    max-width: 25%;
}

@keyframes fadeOnAddGroup {
    from{
        transform: scale(0.9);
    }to{
        transform: scale(1);
    }
}